.projects{
  background-color: rgba(128, 128, 128, 0.235);
   padding: 10px 2rem 60px;
   text-align: center;
   max-width: 500px;
   border-radius: 30px;
    margin-top: 30px;
    margin-left: 10px;
    flex: 1;
}


.links:hover{
    color: darkseagreen;
    transform: scale(1.1);
}


.linksbottom:hover{
    color: darkseagreen;
    transform: scale(1.1);
}

.linksbottom{


    color: black;
    background-color: rgb(117, 117, 117);
    border-color: black;
    border-radius: 10px;
    padding: 2px 2px;
    text-decoration: none;

    gap: 10px;


    display: inline-flex;
    
    align-items: center;
    justify-content: center;

    height: 15px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    
   
    align-items: center ;



}

.vinyl-btn{
    cursor: pointer;
    background: transparent;
    border: none; 
    width: 20px;
    height: 20px;
    
}


.vinyl-btn img {
    width: 20px;
    height: 20px;
}





.links{


    color: black;
    background-color: rgba(117,117,117);
    border-color: black;
    border-radius: 10px;
    padding: 2px 2px;
    text-decoration: none;


    display: inline-flex;
    
    align-items: center;

    height: 15px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;


}

.bottom{
    padding-left: 5px;
}

.links{
  padding-right: 20px;
}

footer{
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
  
}


.navbar{
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.3s;


  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding: 1rem , 2rem ;
  background-color: rgba(105, 105, 105, 0.694);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0);


  
}

.favicon{
    height: 40px;
    width: 40px;
}


.name{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: large;
  color: aliceblue;
  padding-left: 20px;
}

.desc{
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  color: black;
  padding-left: 20px;
  text-align: left;
  
}